{
  "editor.formatOnSave": true,
  "tslint.packageManager": "yarn",
  "editor.tabSize": 2,
  "editor.insertSpaces": true,
  "files.trimTrailingWhitespace": true,
  "javascript.format.enable": true,
  "prettier.disableLanguages": ["markdown"],
  "semi": false
}
