@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700');

@import '/iota';
@import '/typography';

@import '/form';

html {
    min-width: 375px;
}

body {
    min-width: 375px;

    font-size: 16px;
    font-family: 'Raleway';
    line-height: 1.5;
    color: map-get($iota-global-colors, black);
}

a {
    color: map-get($iota-global-colors, primary);

    &:hover {
        color: map-get($iota-global-colors, primary);
    }
}
