/**
 * Grid columns. This setting is shared between
 * iotaCSS grid objects and size, pull & push
 * utilities. You can change it also locally to
 * each module.
 *
 * Type: Unitless Number / List
 */

$iota-global-columns: 2, 3, 6, 12;

/**
 * Global namespace for Objects, Components and 
 * Utilities
 *
 * Type: String
 */

$iota-global-objects-namespace: 'o-';
$iota-global-utilities-namespace: 'u-';
$iota-global-components-namespace: 'c-';

/**
 * Default gutters. This setting is shared between
 * multiple objects and utilities as the default value
 * for gutters. You can change it also locally to each
 * module.
 *
 * Type: Number / List / Map
 */

$iota-global-gutter-default: 10px;

/**
 * Enables flexbox across the app. If you do not want
 * all modules to use flexbox you can keep this value
 * false and set it to true separately to each one of
 * them locally.
 *
 * Type: Boolean
 */

$iota-global-flex: false;

/**
 * Enables rtl across the app. If you enable this setting
 * the final CSS will be converted to RTL.
 *
 * Type: Boolean
 */

$iota-global-rtl: false;

/**
 * Default global breakpoints map. These are the
 * default breakpoints map that will be shared across
 * all iotaCSS modules. You can change it also locally
 * to each module.
 *
 * Type: Map
 */

$iota-global-breakpoints: (
    xs: 'screen and (min-width: 400px)',
    sm: 'screen and (min-width: 600px)',
    md: 'screen and (min-width: 800px)',
    lg: 'screen and (min-width: 1000px)',
    xl: 'screen and (min-width: 1200px)',
);

/**
 * Global breakpoint suffix naming setting. All breakpoint
 * specific styles have a '@breakpointName' suffix by default.
 * The \ character is used to escape the @ character.
 *
 * Type: String
 */

$iota-global-breakpoint-separator: \@;

/**
 * Global delimiter naming setting for Size, Push and Pull
 * utilities. By default it is '/' (.u-1/2) and you can change
 * it for example to 'of' so that the generated HTML class will be
 * 'u-1of2'.
 *
 * Type: String
 */

$iota-global-delimiter: \/;

/**
 * Custom settings
 */
$iota-global-colors: (
    white: #fff,
    black: #1a1a1a,
    light-gray: #e5e5e5,
    primary: #D55C76,
);

$iota-utils-spacing-extra: (
    -1: 10px,
    -2: 20px,
    -3: 30px,
    -4: 40px,
    -5: 50px,
    -6: 60px,
    -7: 70px,
    -8: 80px,
    -9: 90px,
    -10: 100px
);

@import 'node_modules/iotacss/settings/core';
