// disable the search box
.search-box
  display none

// disable outbound link icon
.icon.outbound
  display none

.sidebar-group-items > li > a {
  font-size: 1.1em;
  font-weight: bold;
}

.navbar {
  max-width: 1920px;
  margin: auto;
}